DJANGO_SECRET_KEY=replace-with-a-permanent-secret-key
DEBUG=True

RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_KEY_SECRET

USE_S3=True

AWS_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_R2_SECRET_ACCESS_KEY

AWS_STORAGE_BUCKET_NAME=clout
AWS_S3_REGION_NAME=auto

AWS_S3_ENDPOINT_URL=https://YOUR_ACCOUNT_ID.r2.cloudflarestorage.com
AWS_S3_CUSTOM_DOMAIN=YOUR_PUBLIC_R2_DOMAIN

GROQ_API_KEY=YOUR_GROQ_API_KEY

EMAIL_HOST=smtp.privateemail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=admin@clout.courses
EMAIL_HOST_PASSWORD=YOUR_EMAIL_PASSWORD
DEFAULT_FROM_EMAIL=Clout <admin@clout.courses>